/* src/styles/global.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Define custom palette using CSS variables */
:root {
    --celadon: #8fd694ff;
    --emerald: #7dba84ff;
    --asparagus: #77ad78ff;
    --reseda-green: #6f8f72ff;
    --walnut-brown: #504b43ff;
}