/* src/components/Navbar/Navbar.css */
.navbar {
    background-color: var(--reseda-green);
    color: var(--walnut-brown);
    width: 100%;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    font-size: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
}

.navbar-link:hover {
    text-decoration: underline;
}